<div class="padding-global"><div class="container-large"><div class="padding-section-medium"><div class="header65_component"><div class="text-align-center"><div class="max-width-large align-center"><div class="margin-bottom margin-small"><h1 class="heading-style-h1">
{{ section.settings.text_headline }}
</h1>
</div><p class="text-size-medium"> {{ section.settings.textarea_description }} </p>
</div></div></div></div></div></div> {% schema %} {"tag":"header","name":"BlogHero","class":"section_header65 text-color-white","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Style &amp; Culture"},{"id":"textarea_description","type":"textarea","label":"Description","default":"Redefining What Matters Most"}],"presets":[{"name":"BlogHero","category":"Liquify","blocks":[]}]} {% endschema %}