<div class="gradient-intro-wrapper"><div class="container-w1 gutter-outside"><div class="text-center"><h2 class="hero_heading">
{{ section.settings.text_headline }}
</h2>
<div class="spacer-medium"></div><a href="https://www.liquify.pro/docu/welcome" target="_blank" class="button w-button">Read the Docs</a></div></div></div><div class="div-block"><img class="image" src="{{ section.settings.image_image | img_url: 'master' }}" alt="{{ section.settings.image_image.alt }}" sizes="(max-width: 2000px) 100vw, 2000px" loading="lazy">
<div class="div-block-2"></div></div> {% schema %} {"tag":"div","name":"Liquify-Hero","class":"section-ultra-gradients","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Shop Liquify"},{"id":"image_image","type":"image_picker","label":"Image"}],"presets":[{"name":"Liquify-Hero","category":"Liquify","blocks":[]}]} {% endschema %}