<div class="padding-global"><div class="container-large"><div class="text-size-small">
{{ section.settings.text_text }}
</div>
</div></div> {% schema %} {"tag":"div","name":"message","class":"top_message","settings":[{"id":"text_text","type":"text","label":"Text","default":"Free Delivery Over \u00a3100.00"}],"presets":[{"name":"message","category":"Liquify","blocks":[]}]} {% endschema %}